.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.tox
.coverage
htmlcov
*.egg-info
packages/open_aea
monitoring_agent
monitoring_service

packages/valory/agents/*
packages/valory/connections/*
packages/valory/contracts/*
packages/valory/services/*
packages/valory/protocols/*
packages/valory/skills/*

!packages/valory/agents/monitoring_agent
!packages/valory/services/monitoring_service
!packages/valory/skills/monitoring_abci
!packages/valory/skills/monitoring_chained_abci
!packages/valory/contracts/erc20
!packages/valory/contracts/token_reader
!packages/valory/contracts/sushiswap_router

leak_report
/Pipfile.lock
keys.json
ethereum_private_key.txt
__pycache__/
.env